$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-light-color: #fff;
$font-grey-color: #9e9e9e;
$font-dark-color: #000;

$background-light-color: #fff;
$background-grey-color: #2d2d2d;
$background-dark-color: #000;
